<mat-toolbar style="color: white; background-color: #5800cb;">
    <mat-toolbar-row>
        <button mat-icon-button (click)="toggleSideBar()">
            <mat-icon>menu</mat-icon>
        </button>

        <span>
            <img
            width="160"
            style="margin-top: 8px;"
            alt="Angular Logo"
            src="https://i.postimg.cc/Bn2Lkjs1/dietboard.png"
            />
        </span>

        <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
            <ul fxLayout="row" fxLayoutGap="20px">
                <li>
                    <button mat-icon-button>
                        <mat-icon>help_outline</mat-icon>
                    </button>
                </li>
            </ul>
        </div>

        
    </mat-toolbar-row>
</mat-toolbar>