<mat-divider></mat-divider>

<h1 style="font-size: 27px; font-weight: 500;"> Food List 
  <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" style="display: inline-block; margin-left: 0.3px; margin-bottom: -2.5px;" class="bi bi-card-checklist" viewBox="0 0 16 16">
    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
    <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0zM7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5zm-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0z"/>
</svg>
</h1>

<mat-divider></mat-divider>


<br>

<!-- Highlight Card -->
  <div id="chart-content" class="show-content block">
    <div class="card highlight-card card-medium">
      <img class="float-left mr-6" width="55" alt="chicken icon"
      src="https://i.postimg.cc/WbkmSfJS/pngaaa-com-579861.png"/>
      <p class="float-left mr-6"><b>Chicken</b> || Per 100g: | Cal: 240 | Pro: 27g | Fat: 14g | Carb: 0g || </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus-square float-right ml-5" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </div>

    <div class="card highlight-card card-medium">
      <img class="float-left mr-6" width="85" alt="chicken icon"
      src="https://i.postimg.cc/NMBFrty9/Untitlesdsd.png"/>
      <p class="float-left mr-6"><b>Beef</b> || Per 100g: | Cal: 240 | Pro: 27g | Fat: 14g | Carb: 0g || </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus-square float-right ml-5" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </div>

    <div class="card highlight-card card-medium">
      <img class="float-left mr-6" width="85" alt="chicken icon"
      src="https://i.postimg.cc/6qDNnVHj/3e02ca1810f38a683e85652f8a4467ef.png"/>
      <p class="float-left mr-6"><b>Fish</b> || Per 100g: | Cal: 240 | Pro: 27g | Fat: 14g | Carb: 0g || </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus-square float-right ml-5" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </div>

    <div class="card highlight-card card-medium">
      <img class="float-left mr-6" width="70" alt="chicken icon"
      src="https://i.postimg.cc/G3Z2kvsn/598fb37d8e3a1f127b3ba7700febc92e.png"/>
      <p class="float-left mr-6"><b>Rice</b> || Per 100g: | Cal: 240 | Pro: 27g | Fat: 14g | Carb: 0g || </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus-square float-right ml-5" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </div>

    <div class="card highlight-card card-medium">
      <img class="float-left mr-6" width="65" alt="chicken icon"
      src="https://i.postimg.cc/L8yFVM0g/4442f6b0d386f06448947b8d0e1f169d.png"/>
      <p class="float-left mr-6"><b>Salad</b> || Per 100g: | Cal: 240 | Pro: 27g | Fat: 14g | Carb: 0g || </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus-square float-right ml-5" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </div>

    <div class="card highlight-card card-medium">
      <img class="float-left mr-6" width="80" alt="chicken icon"
      src="https://i.postimg.cc/j26GnV75/113de4692f8ce728d929a8fcfe400bfa.png"/>
      <p class="float-left mr-6"><b>Pasta</b> || Per 100g: | Cal: 240 | Pro: 27g | Fat: 14g | Carb: 0g || </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus-square float-right ml-5" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </div>

    <div class="card highlight-card card-medium">
      <img class="float-left mr-6" width="55" alt="chicken icon"
      src="https://i.postimg.cc/WbkmSfJS/pngaaa-com-579861.png"/>
      <p class="float-left mr-6"><b>Chicken</b> || Per 100g: | Cal: 240 | Pro: 27g | Fat: 14g | Carb: 0g || </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus-square float-right ml-5" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </div>

    <div class="card highlight-card card-medium">
      <img class="float-left mr-6" width="85" alt="chicken icon"
      src="https://i.postimg.cc/NMBFrty9/Untitlesdsd.png"/>
      <p class="float-left mr-6"><b>Beef</b> || Per 100g: | Cal: 240 | Pro: 27g | Fat: 14g | Carb: 0g || </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus-square float-right ml-5" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </div>

    <div class="card highlight-card card-medium">
      <img class="float-left mr-6" width="85" alt="chicken icon"
      src="https://i.postimg.cc/6qDNnVHj/3e02ca1810f38a683e85652f8a4467ef.png"/>
      <p class="float-left mr-6"><b>Fish</b> || Per 100g: | Cal: 240 | Pro: 27g | Fat: 14g | Carb: 0g || </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus-square float-right ml-5" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </div>

    <div class="card highlight-card card-medium">
      <img class="float-left mr-6" width="70" alt="chicken icon"
      src="https://i.postimg.cc/G3Z2kvsn/598fb37d8e3a1f127b3ba7700febc92e.png"/>
      <p class="float-left mr-6"><b>Rice</b> || Per 100g: | Cal: 240 | Pro: 27g | Fat: 14g | Carb: 0g || </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus-square float-right ml-5" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </div>

    <div class="card highlight-card card-medium">
      <img class="float-left mr-6" width="65" alt="chicken icon"
      src="https://i.postimg.cc/L8yFVM0g/4442f6b0d386f06448947b8d0e1f169d.png"/>
      <p class="float-left mr-6"><b>Salad</b> || Per 100g: | Cal: 240 | Pro: 27g | Fat: 14g | Carb: 0g || </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus-square float-right ml-5" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </div>

    <div class="card highlight-card card-medium">
      <img class="float-left mr-6" width="80" alt="chicken icon"
      src="https://i.postimg.cc/j26GnV75/113de4692f8ce728d929a8fcfe400bfa.png"/>
      <p class="float-left mr-6"><b>Pasta</b> || Per 100g: | Cal: 240 | Pro: 27g | Fat: 14g | Carb: 0g || </p>
      <svg xmlns="http://www.w3.org/2000/svg" width="46" height="46" fill="currentColor" class="bi bi-plus-square float-right ml-5" viewBox="0 0 16 16">
        <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
      </svg>
    </div>
  </div>

  <br>



<br>