<div class="container" style="margin-top: 1px;text-align: -webkit-center;">    
    <div style="width: 90%; text-align: -webkit-center; float: left;">    


  <!-- This is panel Body -->  
  <div class="panel-body" style="text-align: -webkit-center;">  
    <div *ngFor="let data of myItems;let i= index" class="alert alert-info" style="margin-left: -20px; float: left; width: 100%; min-width: 85%; max-width: 100%; color: #ffffffe0; background-color: #5800cbe0;; border-color: #410095e0; box-shadow: 1px 1px 5px rgba(1, 1, 1, 0.474);">  
      {{data.Value}}  
      <a  (click)="DeleteItem(i)" style="float: right;">  
        <span  style="width: 50%;" class=" iconcolor glyphicon glyphicon-remove"></span>  
      </a>  
      <a  (click)="EditItem(i)" style="float: right;padding-right: 8px;">  
        <span style="width: 50%;" class="iconcolor glyphicon glyphicon-pencil"></span>  
      </a>  
    </div>  
    <div *ngIf="myItems.length == 0" class="alert alert-info" style="width: 50%;">  
      Items Are Empty !!!  
    </div>  
  </div>  

      
      
<!-- This is panel footer -->      
<div class="panel-footer">      
    <div class="form-group">      
      <!-- Form that gets user input -->      
      <form name="itemForm">      
        <input id="Value" name="Value" required [(ngModel)]="newItem.Value" minlength="3" maxlength="10" style="width: 50%;" placeholder="Enter Any Item"      
          class="form-control">      
      </form>      
      <br>      
      <!-- Add button to add record -->      
      <button type="submit" (click)="AddItem()" [disabled]="IsForUpdate == true" class="btn btn-default" style="margin-right: 10px;">Add</button>      
<!-- Update button to submit updated value -->    
<button type="submit" (click)="UpdateItem()" [disabled]="IsForUpdate == false" class="btn btn-default">Update</button> 
    </div>      
  </div> 
      
    </div>    
  </div>  